.container {
  grid-area: container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Ubuntu-bold;
  font-size: 12px;
}
.container > h1 {
  margin: 30px 0;
}
.container > h2 {
  color: var(--Cool-gray);
}

@media (max-width: 640px) {
  .container {
    position: relative;
    bottom: 60px;
    border-radius: 20px;
    background-color: var(--White);
  }
}
