.container {
  grid-area: container;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-top: 40px;
  padding-bottom: 25px;
}
@media (max-width: 640px) {
  .container {
    position: relative;
    padding: 30px;
    bottom: 60px;
    border-radius: 20px;
    background-color: var(--White);
  }
}
